{% extends 'base.html' %}
{% block body %}
<br>
<div class="row content">
  <div class="col-12">
    <center><img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle profile-image" ></center>
    <div class="profile-text">
      <center>
      <h3 class="profile-title">{{ user.name }}</h3>
      <p class="profile-username">{{ user.email }}</p>
      </center>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <center>
      <p class="profile-bio">Bio: {{ user.bio }}</p>
      <p class="profile-ps">Personal Statement: {{ user.personal_statement }}</p>
      <p class="profile-name">Chess Experience: {{ user.get_chess_experience_display }}</p>
    </center>
  </div>
</div>
{% endblock %}
